.navbar-header{
  margin-right:5px;
  width:100%;
}
.mycontent-left {
  border-right: 1px dashed #333;
}
.Sub-Title{
  text-align: center;
  
}
.comment-card{
  background-color: #88e4a9;
  
  
}
.ups-card{
  background-color: #efad4d;
  
}
.user-card{
  background-color: #337ab7;
    position: relative;
    display: table; //This is important 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;
  
}

.card {
    width: 62%;
    height: 115px;
  text-align: center;
  border-radius: 15px;
     margin: auto;
}
.commentNum{
   text-align: center !important;
  
}
  
.commentImg{
   display: block;
    margin: 0 auto;
    width: 65px;
 

  
}
.youtubeEmbed{
 text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 420px;
    
  
}
#imgLink {
  height: 420px;
  width: 407px;
  
  
}
.linkBtn {
  text-align: center;
  
  
}
